<h1>All Orders</h1>
<div id="table">
<table class="table">
<tr>
  <th class= "col-sm-3"> Order </th>
  <th class= "col-sm-3"> Created_at </th>
  <th class= "col-sm-3"> Products </th>
</tr>

<% @orders.each do |order| %>
<tr>
  <td><%= order.id %></td>
  <td><%= order.created_at %></td>
  <td><%= link_to 'View Order', order_path(:id => order.id) %></td>
</tr>
<% end %>
</table>
</div>


