<h1>All Orders</h1>
<div id="table">
<table class="table">
<tr>
  <th> Order </th>
  <th> Created_at </th>
  <th> Products </th>
</tr>

<% @orders.each do |order| %>
<tr>
  <td><%= order.id %></td>
  <td><%= order.created_at.strftime("%d %b. %Y") %></td>
  <td><%= link_to 'View Order', order_path(:id => order.id), :class => "btn btn-info"  %></td>
</tr>
<% end %>
</table>
</div>


