<h1>Products Index by Category</h1>
<div id="table">
<table class="table">
<tr>
  <th> Category </th> 
</tr>

<% @categories.each do |category, product| %>
<tr>
  <td><%= category.name %></td>
  <td><%= link_to 'Show all Products', category_path(:id => category.id), :class => "btn btn-primary"  %></td>
  <td><% if current_user.admin? %>
      <%= link_to 'Destroy', category, method: :delete, :class => "btn btn-warning"  %>
      <% end %></td>
</tr>
<% end %>
</table>
</div>
